{% extends 'admin/base_template.html' %}


{% block title %}
{% if title %}
{{title}}
{% else %}

Register Staff
{% endif %}
{% endblock title %}
  

{% block content %}
 <div class="content-wrapper" id='main-content'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Register Staff</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Staff</a></li>
              <li class="breadcrumb-item active">Register</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm card">
            
            <form action="" method="post" enctype="multipart/form-data">
              <!-- {{form.as_p}} -->
              {% csrf_token %}
                <div class="card-body row ">
                
                {% for field in form %}
                  
                    {% if field.name == 'profile_picture' %}
                        <div class="form-group col-sm-4">
                    <label for="exampleInputEmail1">{{field.label_tag}}</label>
                    <div class="input-group">
                      <div class="custom-file">
                      {{field}}
                        <label class="custom-file-label" for="exampleInputFile"
                          >Choose file</label
                        >
                      
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>

                    </div>
                    <label for="exampleInputEmail1">{{field.help_text}}</label>
                        </div>
                       {% elif field.name == 'password1' or field.name == 'password2' %}
                    {% else %}
                      <div class="form-group col-sm-4">
                        <label for="exampleInputEmail1">{{field.label_tag}}</label>
                        {{field}}
                        <label class="text-info" for="exampleInputEmail1">{{field.help_text}} </label>
                        
                      
                      
                      </div>
                    {% endif %}
                  
                {% endfor %}
              
                <div class="form-check">
                   
                  
                    <button type="submit" class="btn btn-info ml-5">ADD STAFF</button>
                
                </div>
                
                </div>
                
            </form>
          </div>

          <div class="col-sm-3">
            <h4>currently added</h4>
            
            {% for message in messages %}
            <p class="text-success text-center">{{message}}</p>
              
            {% endfor %}

            {% for staff in staffs %}
            <a  href=" {% url 'teacher:edit-staffs' staff.admin.id staff.id %} " class="text-dark text-center nav-link">{{staff.admin}}</a>
              
            {% endfor %}


              
          </div>
        </div>
      </div>
    <section>
  <div>


{% endblock content %}
