
          <form action="" method="post">

            {% csrf_token %}
            <div class="card-body row ">
              <div class="col-sm-12" id="new">

              </div>

              {% for field in form %}
              {% if  field.name == 'start_time' or field.name == 'end_time' %}
              <div class="form-group col-sm-2">
                <label for="exampleInputEmail1">{{field.label_tag}}</label>
                {{field|safe}}

                <label class="text-info" for="exampleInputEmail1">{{field.help_text}} </label>

                {% else %}
                <div class="form-group col-sm-4">
                  <label for="exampleInputEmail1">{{field.label_tag}}</label>
                  {{field|safe}}
                  <label class="text-info" for="exampleInputEmail1">{{field.help_text}} </label>


                  {% endif %}


                </div>


                {% endfor %}

                 <div class="form-group col-sm-4">
                  
                  <div id='field_section'>
                
                  </div>
                  <label class="text-info" for="exampleInputEmail1">{{field.help_text}} </label>

                 </div>


                {% for error in form.errors %}
                <p class="text-danger text-center">{{error}}</p>
                {% endfor %}

                <div class="form-group col-sm-12 ">

                  <button type="submit"
                    class="btn float-right btn-info ">Submit</button>
                </div>

              </div>



          </form>
          {% for message in messages %}
          <p class="text-success bg-danger text-center">{{message}}</p>

          {% endfor %}