{% load static %}

<div class="fixed top">
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white ">
    <div class="container-fluid">
      <a href=" {% url 'guardian:profile' %}" class="brand-link">
        <img src="{{request.user.profile_picture.url}}" alt="{{request.user.first_name}}"
          class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">{{request.user.first_name|title}}</span>
      </a>

      <button class="navbar-toggler order-1 collapsed" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation" style="margin-left: 73vw ;">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse order-3 collapse" id="navbarCollapse" style="margin-left:15vw">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'guardian:profile' %}" class="nav-link">Home</a>
          </li>

          {% comment %} <li class="nav-item">
            <a href="#" class="nav-link">News Feed</a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a href="{% url 'events' %}" class="nav-link">Events</a>
          </li>

          

          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle">Child/Children</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
              style="left: 0px; right: inherit;">
              <li class="nav-item">
                <a href="{% url 'marks:guardian-manage-marks' %}" class="nav-link">

                  <p>Child/Children marks</p>
                </a>
              </li>
              <li class="nav-item">
                <li class="dropdown-divider"></li>
                <a href="{% url 'guardian:child-attendance' %}" class="nav-link">

                  <p>Child/Children attendance</p>
                </a>
              </li>
              <li class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle">Library</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
              style="left: 0px; right: inherit;">
              <li class="nav-item">
                <a href="{% url 'books' %}" class="nav-link">

                  <p>Books</p>
                </a>
              </li>

              

              <li class="nav-item">
                <a href="{% url 'past-question' %}" class="nav-link">

                  <p>Past Quesstion</p>
                </a>
              </li>

              <li class="dropdown-divider"></li>

             

              <li class="dropdown-divider"></li>

            </ul>
          </li>

          <li class="nav-item dropdown">
           
          </li>

           <li class="nav-item">
                <a href="{% url 'guardian:assignments' %}" class="nav-link">

                  <p>Assignmens</p>
                </a>
            </li>
           <li class="nav-item">
                <a href="{% url 'gallery' %}" class="nav-link">

                  Gallery
                </a>
            </li>
           <li class="nav-item">
                <a href="{% url 'student-government' %}" class="nav-link">

                  Student Government
                </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'fees-pay-online' %}" class="nav-link">Fees Pay</a>
          </li>
        
          <li class="nav-item">
            <a href="{% url 'adminhod:logout' %}" class="nav-link">Logout</a>
          </li>
        </ul>


      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown" hx-get='{% url "notification:get-notifi" %}' hx-trigger="every 20s">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            {% if request.user.user_type == '2' %}
            <span class="badge badge-warning navbar-badge">{{notify.count}}</span>
            {% elif request.user.user_type == '3' %}
            <span class="badge badge-warning navbar-badge">{{notify.count}}</span>
            {% endif %}

          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">{{notify.count}} Notifications</span>
            {% for notise in notify %}
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> {{notise.message}}
              <span class="float-right text-muted text-sm">{{notise.created_at}}</span>
            </a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a href="#"hx-get='{% url "notification:notifications" %}' hx-target="#main-content" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
