{% extends 'admin/base_template.html' %}


{% block title %}
{% if title %}
{{title}}
{% else %}

Register Guardians
{% endif %}
{% endblock title %}
  

{% block content %}
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Register Guardian</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Guardian</a></li>
              <li class="breadcrumb-item active">Register</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm card">
         
            <form action="" method="post" enctype="multipart/form-data">
              <!-- {{form.as_p}} -->
              {% csrf_token %}
                <div class="card-body row ">
                
                {% for field in form %}
                  
                   
                    {% if field.name == 'profile_picture' %}
                        <div class="form-group col-sm-4">
                    <label for="exampleInputEmail1">{{field.label_tag}}</label>
                    <div class="input-group">
                      <div class="custom-file">
                      {{field}}
                        <label class="custom-file-label" for="exampleInputFile"
                          >Choose file</label
                        >
                      
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>

                    </div>
                    <label for="exampleInputEmail1">{{field.help_text}}</label>
                        </div>
                    
                    {% elif field.name == 'password1' or field.name == 'password2' %}
                      
                    {% else %}
                      <div class="form-group col-sm-4">
                        <label for="exampleInputEmail1">{{field.label_tag}}</label>
                        {{field}}
                        <label class="text-info" for="exampleInputEmail1">{{field.help_text}} </label>
                        
                      </div>
                    {% endif %}
                  
                
              
                   
                {% endfor %}
              
                <div class="form-check">
                    <!-- <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Check me out</label
                    > -->
                  
                    <button type="submit" class="btn btn-info ml-5">Add Guardian</button>
                
                </div>
                
                </div>
                
            </form>
          </div>

         <!-- Main content -->
            <section class="content col-12">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Guardian details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#UID</th>
                                <!-- <th>Username</th> -->
                                <th>Title</th>
                                <th>Name</th>
                               
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for guardian in guardians %}
                                <tr>
                                <td>{{guardian.admin.uid}}</td>
                                <!-- <td>{{guardian.admin.username}}</td> -->
                                <td>{{guardian.title}}</td>
                                <td>{{guardian.admin.username}}</td>
                                
                                <td>{{guardian.admin.email}}</td>
                                <td>{{guardian.admin.address}}</td>
                                <td>{{guardian.admin.phone}}</td>
                                
                                <td class="d-flex">
                                    <a class="text-info text-center p-1" href=" {% url 'guardian:edit-guardian' guardian.id %}" >Edit</a>
                                    <a class="text-danger text-center p-1" href="{% url 'guardian:delete-guardian' guardian.id %}" >X</a>
                                </td>
                                </tr>
                                
                                {% endfor %}
                            
                            </tbody>
                            <tfoot>
                            <tr>
                           
                               <th>ID</th>
                                <!-- <th>Username</th> -->
                                <th>Title</th>
                                <th>Name</th>
                               
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            <!-- /.container-fluid -->
            </section>
    <!-- /.content -->
        </div>
      </div>
    <section>
  <div>


{% endblock content %}
