{% extends 'admin/base_template.html' %}
{% load static %}

{% block title %}
    Student ID CARDS
{% endblock title %}


{% block content %}
    <div class="content-wrapper" style="min-height: 1854.56px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {% comment %} <h1>Widgets</h1> {% endcomment %}
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% comment %} <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Widgets</li> {% endcomment %}
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
    
        <div class="row" id='idcard'>
       
        <div class="" style="display:flex; flex-wrap:wrap;" >
      
         <div style="flex-basis:100;flex-grow: 0;">
            <table border="0" style="border: none">
            <tr>
                <th>Front</th>
                <th>back</th>
            </tr>
            <tr>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                
            </tr>
            </table>
         </div>

          <div style="flex-basis:100;flex-grow: 0;">
            <table border="0" style="border: none">
            <tr>
                <th>Front</th>
                <th>back</th>
            </tr>
            <tr>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                
            </tr>
            </table>
         </div>

          <div style="flex-basis:100;flex-grow: 0;">
            <table border="0" style="border: none">
            <tr>
                <th>Front</th>
                <th>back</th>
            </tr>
            <tr>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                
            </tr>
            </table>
         </div>

          <div style="flex-basis:100;flex-grow: 0;">
            <table border="0" style="border: none">
            <tr>
                <th>Front</th>
                <th>back</th>
            </tr>
            <tr>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                <td>
                    <div class="" style="flex-basis: 100; flex-grow:0; margin:6px;  ">
                        <!-- Widget: user widget style 1 -->
                        <div class="">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="" style="background-color:teal ; margin:auto; text-align:center;">
                                <div style="max-height:80px; height:100vh;width:100%;object-fit:stretch;">
                    
                                    <img class="" style="border-radius:12px ;max-height:80px; height:100vh;width:100%;object-fit:stretch;"
                                        src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                </div>
                                <img class="img-circle elevation-2" style="border-radius:70% ; margin:auto; width:25%;"
                                    src="{% static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar">
                                <h4 style="color:white;background:darkred">PROFESSIONAL BADGE</h4>
                               
                            </div>
                    
                            <div class="card-footer" style="text-align:left;">
                                <table style="text-align: left;">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name:</td>
                                        <td style="text-align: left;"><strong> Alexander Trump Micheal</strong></td>
                                
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Position: </td>
                                        <td style="text-align: left;"><strong> Teacher/English</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Staff ID: </td>
                                        <td style="text-align: left;"><strong> w234d453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">NIC: </td>
                                        <td style="text-align: left;"><strong> 455642344453</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Issue: </td>
                                        <td style="text-align: left;"><strong> 04/22</strong></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">Expire: </td>
                                        <td style="text-align: left;"><strong> 04/23</strong></td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                    
                   
                </td>
                
            </tr>
            </table>
         </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
    <button id="back-to-top" onclick="createPDF()" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up">print All</i>
    </button>
  </div>

  <script>
    function createPDF() {
        var sTable = document.getElementById('idcard').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>{{fee.student_id.username}}</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
  
</script>

{% endblock content %}
    
