
{% extends 'admin/base_template.html' %}

{% block title %} Manage Student {% endblock title %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Manage Student</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Students</a></li>
              <li class="breadcrumb-item active">Management</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">student details </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    {% comment %} <th>First Name</th>
                    <th>Last Name</th> {% endcomment %}
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>DOB</th>
                    <th>Class</th>
                    <th>Department</th>
                    <th>Created on</th>
                    <th>last Login</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for student in students %}
                       <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.admin.username}}</td>
                    {% comment %} <td>{{student.admin.first_name}}</td>
                    <td>{{student.admin.last_name}}</td> {% endcomment %}
                    <td>{{student.admin.email}}</td>
                    <td>{{student.admin.address}}</td>
                    <td>{{student.admin.phone}}</td>
                    <td>{{student.date_of_birth}}</td>
                    <td>{{student.class_room}}</td>
                    <td>{{student.department}}</td>
                    <td>{{student.admin.created_at}}</td>
                    <td>{{student.admin.last_login}}</td>
                    <td class="d-flex">
                        <a class="text-info text-center p-1" href=" {% url 'student:edit-student' student.admin.id student.id %}" >Edit</a>
                        <a class="text-danger text-center p-1" href="{% url 'student:delete-student' student.admin.id  %}" >X</a>
                    </td>
                    </tr>
                      
                      {% endfor %}
                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    {% comment %} <th>First Name</th>
                    <th>Last Name</th> {% endcomment %}
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>DOB</th>
                    <th>Class</th>
                    <th>Department</th>
                    <th>Created on</th>
                    <th>last Login</th>
                    <th>Action</th>
                   
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}