{% extends 'admin/base_template.html' %}


{% block title %}
{% if title %}
{{title}}
{% else %}

Student(s) Notification
{% endif %}
{% endblock title %}
  

{% block content %}
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Notify Student(s)</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Student(s)</a></li>
              <li class="breadcrumb-item active">Notification</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row ">
    <div class="col-sm card">
    

      <form action="" method="post" enctype="multipart/form-data">
            
            {% csrf_token %}
          <div class="card-body row ">
          
          {% for field in form %}
            
                <div class="form-group col-sm-12">
                  <label for="exampleInputEmail1">{{field.label_tag}}</label>
                  {{field}}
                  <label for="exampleInputEmail1">{{field.help_text}} </label>
                  
                
                
                </div>
             
            
          {% endfor %}
         
          <div class="form-group col-sm-12">
            
             
             
              <button type="submit" class="btn btn-info ml-5">Send Notification</button>
          
          </div>
           
          </div>
          
      </form>
    </div>

    <div class="col-sm-3">
      <h2 class="text-center text-warning">notifications</h2>
      
      {% for message in messages %}
      <p class="text-success text-center">{{message}}</p>
        
      {% endfor %}

      {% for notification in notifications %}
      <div>
          <h5 class="text-success">{{notification.sender_name}}</h5>
          <a  href=" {% url 'student:notify-students' %} " class="text-dark text-center nav-link">{{notification.message}}</a>
        </div>
        
      {% endfor %}


        
    </div>
  </div>
      </div>
    </section>
 </div>
  


{% endblock content %}
