  
 
    <h5 class="text-center text-warning bg-dark p-3"> Usaer Table Data
    
    </h5>
    
    
    <div>
    
        <img src='{{file.url}}'>
        <div class="card-body">
            <div id="jsGrid1" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                    <table class="jsgrid-table text-center" border=2>
                        <tr class="jsgrid-header-row">
    
                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 950px;"> Name</th>
    
                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 250px;">
                                Action</th>
    
                        </tr>
                        {% for user in users %}
    
                        <tr class="jsgrid-row">
                            <td class="jsgrid-cell" style="width: 150px;">{{user|upper}}</td>
                            
                            <td class="jsgrid-cell" style="width: 200px;">
                                <a hx-post="{% url 'adminhod:password-resend' user.id %}" hx-target="#message" 
                                    class="btn float-right btn-info ">Resend Password</a>
                            </td>
    
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="jsgrid-load-panel"
                    style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please, wait...</div>
            </div>
        </div>
    
    
    
    
    
    </div>






  