{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
final password reset
{% endblock title %}

{% block content %}
<p>{{user}}</p>
<div class="class container btn-secondary">
<form class="form-inline" action="{%url 'blog:finalresetpassword' %}" method="POST">
    {% csrf_token %}
    <div><label for="username or email"> Username or Email</label></div>
    <input type="text" name="username" id="" placeholder="Eenter the same username or email that you entered befor!">
    {{form|crispy}}
    <div>
        
        <input class="btn-dark" type="submit" value='Submit'>
        
    </div>

</form>


{% endblock content %}