{% extends 'base.html' %}

{% block title %}
password reset
{% endblock title %}

{% block content %}
<p>{{user}}</p>
<div class="class container btn-secondary">
<form class="form-inline" action="{%url 'blog:passwordreset' %}" autocomplete="off" method="POST">
    {% csrf_token %}
    <div>
        <label for="passwordreset">Email or Username:</label>
    </div>
    <div>
        <input type="text" name="query" placeholder="Email or Username" required>
    </div>
    <div>
        
        <input class="btn-dark" type="submit" value='Submit'>
        
    </div>

</form>


{% endblock content %}