{% extends 'admin/base_template.html' %}


{% block title %}
{% if title %}
{{title}}
{% else %}
School Fees Management
{% endif %}
{% endblock title %}
  

{% block content %}
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>School Fees Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">School Fees Management</a></li>
              <li class="breadcrumb-item active">Management</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row ">
              <span hx-get="{% url 'fees:clear' %}" hx-trigger='every 70s' hx-target="#formSection">clear Form</span>
    <div class="col-sm card" id="formSection">
    
      </div>
    <div class="col-sm-12 card" id="filterForm">
      {% include 'fees/feeFilterForm.html' %}
    
      </div>

      <div class="col-sm-12" id="tableContent">
        {% include 'fees/feeTable.html' %}
      </div>
    </div>
  </section>
</div>
  


{% endblock content %}
