
      <form method="post">
            
            {% csrf_token %}
          <div class="card-body row ">
            <div class="col-sm-12 bg-info p-3 mb-3"  id="new">
              Hay dear user to fill in or update marks you just need to click on the box and edit or fill in new marks
            </div>
          
          {% for field in form %}
                {% if field.name == "description" %}
                <div class="form-group col-sm-12">
                  <label for="exampleInputEmail1">{{field.label_tag}}</label>
                  {{field|safe}}
                  
                  <label class="text-info" for="exampleInputEmail1">{{field.help_text}} </label>
                  
                {% else %}
                <div class="form-group col-sm-3">
                  <label for="exampleInputEmail1">{{field.label_tag}}</label>
                  {{field|safe}}
                  <label class="text-info" for="exampleInputEmail1">{{field.help_text}}  </label>
                  
                
                {% endif %}
                
                
                </div>
             
            
          {% endfor %}

          {% for error in form.errors %}
          <p class="text-danger text-center">{{error}}</p>
          {% endfor %}
           {% for message in messages %}
        <p class="text-danger text-center h3 badge badge-warning">{{message}} </p>
            
        {% endfor %}
         
          <div class="form-group col-sm-12 ">
                {% comment %} {% if not id %}
                <button type="submit"  class="btn float-right btn-info ">Submit</button>
                {% else %}
                <button type="submit" hx-target="#tableContent" hx-post="{% url 'marks: update-htmx-marks' id %}" class="btn float-right btn-info ">Submit</button>
                {% endif %} {% endcomment %}
                <button type="submit" hx-post="{% url 'marks:record-marks' %}" hx-target="#tableContent1" class="btn float-right btn-info ">Submit</button>
          
          </div>
           
          </div>

          
          
      </form>